<?xml version="1.0"?>
<config>
    <modules>
        <Nan_Stripepay>
            <version>0.1.0</version>
        </Nan_Stripepay>
    </modules>
    <global>
        <models>
            <nan_stripepay>
                <class>Nan_Stripepay_Model</class>
            </nan_stripepay>
        </models>
        <blocks>
            <nan_stripepay>
                <class>Nan_Stripepay_Block</class>
            </nan_stripepay>
        </blocks>
        <helpers>
            <nan_stripepay>
                <class>Nan_Stripepay_Helper</class>
            </nan_stripepay>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <nan_stripepay>
                    <files>
                        <default>Nan_Stripepay.csv</default>
                    </files>
                </nan_stripepay>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <nan_stripepay>
                <use>standard</use>
                <args>
                    <module>Nan_Stripepay</module>
                    <frontName>stripepay</frontName>
                </args>
            </nan_stripepay>
        </routers>
        <translate>
            <modules>
                <nan_stripepay>
                    <files>
                        <default>Nan_Stripepay.csv</default>
                    </files>
                </nan_stripepay>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <nan_stripepay>
                <model>nan_stripepay/payment_stripe</model>
                <stripe_library_version>5.1.3</stripe_library_version>
                <active>1</active>
                <title>NaN Stripe</title>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <cctypes>AE,DI,MC,VI</cctypes>
                <useccv>1</useccv>
                <supported_currencies>EUR,USD</supported_currencies>
                <min_order_amount>0.50</min_order_amount>
            </nan_stripepay>
        </payment>
    </default>
</config>
